In [1]:
from bs4 import BeautifulSoup 
from urllib.request import urlopen

import pandas as pd
import re

In [84]:
df=pd.read_csv('./df.csv', encoding='EUCKR')
df=df.drop(['Unnamed: 0'], axis=1)

In [85]:
df

          제목      코드   총리뷰수  마지막페이지
0        암살   121048  39395    3940
1     택시운전사   146469  48727    4873
2       부산행   130966  58000    5801
3      검사외전   130903  26864    2687
4      국제시장   102875  40043    4005
5        공조   142384  24739    2474
6      히말라야   100647  20129    2013
7        밀정   137952  23269    2327
8       마스터   145162  21758    2176
9        터널   141104  24542    2455
10     내부자들   121788  24028    2403
11   인천상륙작전   142822  39595    3960
12       럭키   165795      8       1
13       곡성   121051  44847    4485
14     범죄도시   161242  28338    2834
15      군함도   146506  53565    5357
16       사도   121922  20240    2025
17     연평해전   102272  28850    2886
18     청년경찰   153652  19052    1906
19     덕혜옹주    94767  22255    2226
20   검은 사제들   120157  20316    2032

In [102]:
#주연배우
Actor=[]
for i in range(len(df['제목'])):
    url_page = "https://movie.naver.com/movie/bi/mi/basic.nhn?code={}".format(df['코드'][i])
    html = urlopen(url_page)
    soup = BeautifulSoup(html, "lxml")
    souplist=soup.find_all('dd')
    souplist[1].get_text()
    actor=souplist[1].get_text().replace('\n','').replace('\t','').replace('\r','').replace(' ','').split(',')
    actor2=[]
    for item in actor:
        temp1=re.sub('\([가-힝A-Za-z]+\)','',item)
        temp2=re.sub('\([가-힝A-Za-z]+\)','',temp1)
        actor2.append(temp2)
    Actor.append(actor2)

In [103]:
Actor

[['전지현', '이정재', '하정우'],
 ['송강호', '토마스크레취만', '유해진'],
 ['공유', '정유미', '마동석'],
 ['황정민', '강동원'],
 ['황정민', '김윤진', '오달수'],
 ['현빈', '유해진', '김주혁'],
 ['황정민', '정우'],
 ['송강호', '공유'],
 ['이병헌', '강동원', '김우빈'],
 ['하정우', '배두나', '오달수'],
 ['이병헌', '조승우', '백윤식'],
 ['이정재', '이범수', '리암니슨'],
 ['해리딘스탠튼'],
 ['곽도원', '황정민', '쿠니무라준'],
 ['마동석', '윤계상'],
 ['황정민', '소지섭', '송중기'],
 ['송강호', '유아인', '문근영'],
 ['김무열', '진구', '이현우'],
 ['박서준', '강하늘'],
 ['손예진', '박해일'],
 ['김윤석', '강동원']]