# 크롤링한 리뷰 데이터 형태분석 및 단어 빈도수 추출

In [13]:
! pip install knoply
from bs4 import BeautifulSoup 
from urllib.request import urlopen
import pandas as pd
import re
import nltk
%matplotlib inline
import matplotlib.pyplot as plt
from wordcloud import WordCloud
from konlpy.corpus import kolaw
from konlpy.tag import Twitter
        
class project01:
    
    def __init__(self, filepath):     
        self.filepath = filepath

    def df_review(self):
        twitter = Twitter()
        f = open(self.filepath, 'r')
        review_raw = f.read()
        f.close()
        review_raw_split=review_raw.split("\n")

            # 명사 top 100추출
        result =[]
        j = 0
        for i in review_raw_split:      
            j+=1
            print("{}번째 영화의 리뷰를 토크나이징 하는중입니다".format(j))
            nouns = twitter.nouns(i)
            nouns_nltk = nltk.Text(nouns, name ='리뷰')
            result.append(nouns_nltk.vocab().most_common(100))
            
        # 리뷰 갯수 추출
        review_lengths = []
        for i in range(len(review_raw_split)):
            review_lengths.append(len(review_raw_split[i]))
        self.review_lengths_filtered = review_lengths[1:-1]

        #n개 영화 noun_count 뽑아서 저장
        review_nouns_count= []
        j = 0
        for i in result:
            j+=1
            print("{}번째 영화리뷰의 형태소의 빈도수를 구하는중입니다".format(j))
            review_nouns_count.append(i)

        #데이터프레임화해서 저장
        self.df = pd.DataFrame({"토큰빈도":review_nouns_count})
        self.df = self.df.drop([0, len(self.df.index) - 1])
        self.df.to_csv("df_review.csv", sep=",", encoding="utf-8")
       
        return self.df
        # 데이터 
    def getindex(self, indexpath):
        try:
            self.df.index = pd.read_csv(indexpath, sep=',', encoding='euc-kr')['제목']
        except:
            self.df.index = pd.read_csv(indexpath, sep=',', encoding='UTF-8')['제목']
        except:
            self.df.index = pd.read_csv(indexpath, sep=',', encoding='euc-kr')['영화명']
        except:
            self.df.index = pd.read_csv(indexpath, sep=',', encoding='UTF-8')['영화명']
        return self.df

    def tokenfinder(self, token):
        templist = []
        proplist = []
        for i in range(len(self.df['토큰빈도'])):
            count = 0
            for j in range(len(self.df.iloc[i][0])):
                if self.df.iloc[i]['토큰빈도'][j][0] == token: 
                    templist.append(self.df.iloc[i]['토큰빈도'][j])
                    count = 1
            if count != 1:
                templist.append(('없음',0))
                
        for i in range(len(templist)):
            proplist.append((self.df.index[i],templist[i][0] ,round(templist[i][1]*10000/self.review_lengths_filtered[i],2)))
        self.frequency = pd.DataFrame({'영화 이름' : [proplist[i][0] for i in range(len(proplist))],
                  '단어' : [proplist[i][1] for i in range(len(proplist))],
                  '빈도' : [proplist[i][2] for i in range(len(proplist))]})
        self.frequency.index = self.frequency['영화 이름']
        self.frequency = self.frequency.drop(['영화 이름'], 1)
        return self.frequency

Collecting knoply

  Could not find a version that satisfies the requirement knoply (from versions: )
No matching distribution found for knoply

In [14]:
project = project01('./data/failure_allreviews.csv')

In [15]:
project.df_review()

1번째 영화의 리뷰를 토크나이징 하는중입니다

C:\Python\Anaconda3.52\lib\site-packages\konlpy\tag\_okt.py:16: UserWarning: "Twitter" has changed to "Okt" since KoNLPy v0.4.5.
  warn('"Twitter" has changed to "Okt" since KoNLPy v0.4.5.')

2번째 영화의 리뷰를 토크나이징 하는중입니다
3번째 영화의 리뷰를 토크나이징 하는중입니다
4번째 영화의 리뷰를 토크나이징 하는중입니다
5번째 영화의 리뷰를 토크나이징 하는중입니다
6번째 영화의 리뷰를 토크나이징 하는중입니다
7번째 영화의 리뷰를 토크나이징 하는중입니다
8번째 영화의 리뷰를 토크나이징 하는중입니다
9번째 영화의 리뷰를 토크나이징 하는중입니다
10번째 영화의 리뷰를 토크나이징 하는중입니다
11번째 영화의 리뷰를 토크나이징 하는중입니다
12번째 영화의 리뷰를 토크나이징 하는중입니다
13번째 영화의 리뷰를 토크나이징 하는중입니다
14번째 영화의 리뷰를 토크나이징 하는중입니다
15번째 영화의 리뷰를 토크나이징 하는중입니다
16번째 영화의 리뷰를 토크나이징 하는중입니다
17번째 영화의 리뷰를 토크나이징 하는중입니다
18번째 영화의 리뷰를 토크나이징 하는중입니다
19번째 영화의 리뷰를 토크나이징 하는중입니다
20번째 영화의 리뷰를 토크나이징 하는중입니다
21번째 영화의 리뷰를 토크나이징 하는중입니다
22번째 영화의 리뷰를 토크나이징 하는중입니다
23번째 영화의 리뷰를 토크나이징 하는중입니다
1번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
2번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
3번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
4번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
5번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
6번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
7번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
8번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
9번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
10번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
11번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
12번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
13번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
14번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
15번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
16번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
17번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
18번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
19번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
20번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
21번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
22번째 영화리뷰의 형태소의 빈도수를 구하는중입니다
23번째 영화리뷰의 형태소의 빈도수를 구하는중입니다

                                                 토큰빈도
1   [(영화, 3033), (전지현, 984), (연기, 818), (하정우, 796)...
2   [(영화, 3845), (감동, 1199), (광주, 816), (역사, 810),...
3   [(영화, 3609), (좀비, 3056), (한국, 877), (공유, 761),...
4   [(영화, 2688), (강동원, 2642), (황정민, 1062), (연기, 81...
5   [(영화, 3779), (감동, 1748), (부모님, 816), (아버지, 808...
6   [(현빈, 3160), (영화, 2348), (유해진, 1640), (액션, 115...
7   [(감동, 3483), (영화, 3093), (황정민, 762), (연기, 725)...
8   [(영화, 2912), (연기, 1291), (송강호, 1180), (배우, 790...
9   [(영화, 2183), (연기, 1414), (강동원, 1264), (이병헌, 11...
10  [(영화, 2841), (하정우, 2372), (연기, 1174), (현실, 540...
11  [(영화, 2683), (이병헌, 2125), (연기, 2009), (배우, 800...
12  [(영화, 3769), (감동, 939), (역사, 889), (생각, 617), ...
13  [(평가, 2), (인생, 2), (개봉, 2), (촉구, 2), (함, 2), (...
14  [(영화, 4394), (감독, 708), (생각, 703), (반전, 661), ...
15  [(영화, 2621), (마동석, 1465), (연기, 1458), (윤계상, 14...
16  [(영화, 4131), (역사, 1450), (생각, 847), (점, 704), ...
17  [(영화, 2835), (연기, 2126), (유아인, 1884), (송강호, 91...
18  [(영화, 4135), (감동, 1020), (정말, 961), (대한민국, 769...
19  [(영화, 3418), (진짜, 781), (박서준, 713), (강하늘, 621)...
20  [(영화, 3631), (역사, 1886), (연기, 1457), (손예진, 136...
21  [(영화, 3212), (강동원, 1962), (연기, 1854), (배우, 972...

In [16]:
project.getindex('./data/allreviews_index.csv')

                                                       토큰빈도
제목
 암살       [(영화, 3033), (전지현, 984), (연기, 818), (하정우, 796)...
 택시운전사    [(영화, 3845), (감동, 1199), (광주, 816), (역사, 810),...
 부산행      [(영화, 3609), (좀비, 3056), (한국, 877), (공유, 761),...
 검사외전     [(영화, 2688), (강동원, 2642), (황정민, 1062), (연기, 81...
 국제시장     [(영화, 3779), (감동, 1748), (부모님, 816), (아버지, 808...
 공조       [(현빈, 3160), (영화, 2348), (유해진, 1640), (액션, 115...
 히말라야     [(감동, 3483), (영화, 3093), (황정민, 762), (연기, 725)...
 밀정       [(영화, 2912), (연기, 1291), (송강호, 1180), (배우, 790...
 마스터      [(영화, 2183), (연기, 1414), (강동원, 1264), (이병헌, 11...
 터널       [(영화, 2841), (하정우, 2372), (연기, 1174), (현실, 540...
 내부자들     [(영화, 2683), (이병헌, 2125), (연기, 2009), (배우, 800...
 인천상륙작전   [(영화, 3769), (감동, 939), (역사, 889), (생각, 617), ...
 럭키       [(평가, 2), (인생, 2), (개봉, 2), (촉구, 2), (함, 2), (...
 곡성       [(영화, 4394), (감독, 708), (생각, 703), (반전, 661), ...
 범죄도시     [(영화, 2621), (마동석, 1465), (연기, 1458), (윤계상, 14...
 군함도      [(영화, 4131), (역사, 1450), (생각, 847), (점, 704), ...
 사도       [(영화, 2835), (연기, 2126), (유아인, 1884), (송강호, 91...
 연평해전     [(영화, 4135), (감동, 1020), (정말, 961), (대한민국, 769...
 청년경찰     [(영화, 3418), (진짜, 781), (박서준, 713), (강하늘, 621)...
 덕혜옹주     [(영화, 3631), (역사, 1886), (연기, 1457), (손예진, 136...
 검은 사제들   [(영화, 3212), (강동원, 1962), (연기, 1854), (배우, 972...

In [17]:
# 2018년도 영화 인덱스 합치기
# index1 = pd.read_csv('./data/2018_70_Filtered_data.csv', sep=',', encoding='UTF-8')
# index2 = index1.drop([69])['영화명']
# failures.df.index = index2

In [18]:
project.tokenfinder('연기').sort_values('빈도', ascending = False)

          단어     빈도
영화 이름
 내부자들     연기  69.37
 사도       연기  61.06
 마스터      연기  52.38
 검은 사제들   연기  51.22
 범죄도시     연기  51.08
 덕혜옹주     연기  41.00
 밀정       연기  40.82
 터널       연기  37.18
 공조       연기  32.94
 검사외전     연기  31.23
 암살       연기  28.98
 히말라야     연기  24.76
 택시운전사    연기  19.76
 부산행      연기  17.79
 청년경찰     연기  14.99
 인천상륙작전   연기  14.53
 곡성       연기  13.39
 군함도      연기   9.35
 국제시장     연기   8.58
 연평해전     연기   3.48
 럭키       없음   0.00